canvas {
	background:navy;
	margin: 0 auto;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	border-left:10px solid blue;
	border-right:10px solid blue;
	box-sizing:border-box;
}
#score ,#score-board {
	text-align:center;
	font-family: 'Indie Flower', cursive;
	font-size:1.4rem;
	margin: 0 auto;
	position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	box-sizing:border-box;
}
table td {
	padding:0rem;
	font-size:1.3rem;
	text-align:center;
	font-family:Comic Sans MS;
}
table {
	border-spacing:0.5rem;
}
img {
	-webkit-transform: rotate(-10deg); 
}
#player {
	float:right;
	position:relative;
	top:60%;
	-webkit-transform:none;
}
